* {margin:0; -webkit-font-smoothing:antialiased; box-sizing: border-box;}
body {padding:0; font-family:sans-serif; font-size:13px; background:#000;}
a {color:#ed1b24; text-decoration:none;}
p {margin-bottom:20px;}
.right {float:right;}
.body {padding:0; margin-left:200px; background:#fff;}


/* HEADER AND NAV */
header {position:relative; background:#000; padding-left:20px; text-align:right;}
.site-title {display:inline-block; padding-top:12px;}
.site-title a {text-decoration:none;}
.site-title img {width:220px; height:28px;}

.top-nav {font-size:0;}
.top-nav a {text-decoration:none; display:block; white-space:nowrap; padding:18px 20px; color:#fff; font-weight:bold; text-transform:uppercase;}
.top-nav ul {list-style:none; padding:0;}
.top-nav li {position:relative; display:inline-block; font-size:12px;}
.top-nav a:hover {background:#ed1b24;}

@media (max-width:640px) {
	header {text-align:center;}
}
@media (min-width:640px) {
	.top-nav {display:inline-block;}
	.site-title {float:left;}
}


/* SIDE NAV */
.side-nav {width:160px; padding:20px; background:#000; float:left; color:#fff;}
.side-nav ul {margin:0; padding:0; list-style:none;}
.side-nav a {text-transform:capitalize; padding:5px 0; display:block; color:#fff;}
.side-nav .meta {color:#888; font-size:12px; font-weight:normal; margin-bottom:10px;}
.side-nav h4 {text-transform:uppercase; margin:0 0 10px 0;}

@media (max-width:640px) {
	.body {margin-left:0;}
	.side-nav {display:none;}
	article {margin-right:0;}
}

/* DOWNLOAD */
.button {display:flex; width:100%; align-items:center; justify-content:space-between; padding:8px 10px; background:#000; color:#fff; margin-bottom:6px;}
.button:hover {background:#ed1b24;}
.button .material-icons {margin-right:10px;}
.button .file-size {margin-left:10px; opacity:.7; font-size:10px; white-space:nowrap;}
.button .button-left {display:flex; align-items:center;}

/* ARTICLE */
.app {max-width:480px; margin:0 auto;}
.entry-title {font-size:24px; margin-bottom:12px; text-transform:uppercase; font-weight:200;}
.entry-title a:hover {color:#ff5757;}

.entry-content {width:80%; background:#fff; padding:20px; margin:0 auto; position:relative; z-index:1;}

.entry-meta {font-size:10px; color:#666; padding-top:10px;}
.entry-meta a {border-bottom:1px dotted #ccc;}
.category {text-transform:uppercase; font-size:10px; font-weight:bold; margin-bottom:4px;}

/* STARS */
.rating img {height:20px; width:20px;}

/* SUMMARY */
.description {line-height:1.4; margin-bottom:40px;}

.screenshot {margin-bottom:-50px; background:#efefef; display:block;}
.screenshot img {width:100%; display:block;}
@media (min-width:480px) {.screenshot img {image-rendering:pixelated; width:480px; height:320px;}}

/* GAMEGRID */
.gamegrid {font-size:0;}
.gamegrid img {height:160px; width:100%;}
.gamegrid .game {display:inline-block; width:25%;}
@media (max-width:600px) {.gamegrid .game {width:50%;}}
@media (min-width:600px) {.gamegrid .game {width:20%;}}

footer {font-size:12px; padding:10px 20px; background:#000; color:#fff;}

.prevnext {padding-bottom:20px; text-transform:uppercase; font-size:11px;}
.prevnext a {color:#999; font-weight:bold;}
.prevnext a:hover {color:#000;}
.next {float:right;}

.page {margin:0 auto; padding:50px 10px; text-align:center;}
.page > * {text-align:left;}
.page article {max-width:480px; display:inline-block; vertical-align:top;}

.page aside {display:inline-block; width:220px; color:#666;}
.page aside h3 {border-top:3px solid #000; border-left:32px solid #000; padding:6px 15px; margin-bottom:10px; text-transform:uppercase; color:#000;}
.page aside p {padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #eee;}
@media (min-width:900px) {
	.page {padding:70px 10px;}
	.page aside {margin-left:30px;}
}

#search {margin:0 -5px 20px -5px;}
#search input {display:block; outline:none; padding:5px; border:1px solid #333; color:#fff; background:#000; border-radius:4px; width:100%; font-family:sans-serif; font-size:11px;}

.search-page {display:block; width:480px;}
.search-item {margin-bottom:20px; display:none; height:80px; overflow:hidden; text-overflow:ellipsis;}
.search-item::after {content: "";clear: both;display: table;}
.search-image {float:left; height:80px; width:120px; margin-right:20px; background: #efefef;}
.search-title {font-weight:bold; font-size:18px;}
.search-description {color:#000;}