* {margin:0; -webkit-font-smoothing:antialiased;}
body {padding:0; font-family:sans-serif; font-size:13px;}
a {color:#ed1b24; text-decoration:none;}
.right {float:right;}
table {border-collapse:collapse; border-spacing:0; margin:0 auto;}
table a {color:#ff5757;}
table a:hover {color:#c72222;}
td, th {border:1px solid #efefef; margin:0; padding:5px;}
th {text-align:left;}

.site-title {padding-left:20px;}

.body, .width {max-width:800px; margin:0 auto;}

.small {margin:0 auto; max-width:540px; padding:35px 20px; line-height:1.5;}
.small h2 {margin:25px 0 5px 0;}
.small p {margin-bottom:20px;}
.small a {text-decoration:underline; font-weight:bold;}

header {position:relative; background:#ed1b24; padding:0 20px; z-index:1;}
.text {padding:5px 15px; border:none; -webkit-appearance:none; outline:none; text-align:left; font-family:inherit; text-transform:capitalize;}

#search {position:absolute; top:50%; right:0; margin-top:-12px;}
#search input {border-radius:99px; border:none; padding:5px 15px; outline:none;}

h1 {padding:5px 0;}
h1 a {text-decoration:none;}
h1 a:hover {color:#ff5757;}
h1 img {height:40px;}

nav a {text-decoration:none; display:block; white-space:nowrap;}
nav {font-size:0; background:black;}
	
nav ul {list-style:none; padding:0;}
nav li {position:relative;}

nav > ul > li {display:inline-block; font-size:12px;}
nav > ul > li > a {padding:9px 15px; color:#fff; font-weight:bold; text-transform:capitalize;}

.active-nav {background:#ccc !important;}


nav li:hover > ul {display:block;}

/* DOWNLOAD */
.download {margin-bottom:15px;}
.button {display:block; text-decoration:underline; color:#000;}

/* ARTICLE */
article {padding:20px;}
.article-content {min-height:260px; max-width:480px; margin:0 auto;}
.article-content:after {visibility:hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.entry-title {font-size:24px;}
.entry-title a:hover {color:#ff5757;}

.entry-content {width:80%; background:#fff; padding:20px; margin:0 auto; position:relative; z-index:1;}

.entry-meta {font-size:10px; color:#666; padding-top:10px;}
.entry-meta a {border-bottom:1px dotted #ccc;}

/* BENEATH ARTICLE */
aside {margin:35px auto; padding:0 20px; clear:both; max-width:640px;}

/* STARS */
.rating img {height:20px; width:20px;}

/* SUMMARY */
.description {line-height:1.6; margin-bottom:40px;}

.screenshot {width:100%; margin-bottom:-50px; image-rendering:pixelated;}


/* GAMEGRID */
.gamegrid {font-size:0;}
.gamegrid img {width:100%; height:100px;}
.gamegrid .game {display:inline-block;}
@media (max-width:600px) {
	.gamegrid .game {width:33.33%;}
}
@media (min-width:600px) {
	.gamegrid .game {width:20%;}
}

/* CATEGORY VIEW */
.appnav {padding:20px; background:#eee; font-size:12px; margin-top:20px;}
.appnav a {font-weight:bold; margin-right:20px;}

.appdata {margin-bottom:15px; font-weight:bold;}
.appdata a {color:#000; text-decoration:none; font-size:10px;}


footer {font-size:12px; padding:20px; margin:44px 0 0 0; font-weight:bold; text-align:center; background:#333; color:#fff;}

.hentry {margin-bottom:20px;}
.prevnext a {color:#999;}
.prevnext a:hover {color:#000;}
.next {float:right;}

.category {text-transform:uppercase; font-size:10px; font-weight:bold; margin-bottom:4px;}