---
layout: default
---

<div class="post-list">
	{% for post in site.categories[page.category] %}
	<article class="app">
		<a class="screenshot" href="{{post.url}}">
			<img src="/screenshots/{{post.slug}}.png" height="320" width="480"/>
		</a>
		<div class="entry-content">
			<div class="category">{{page.categories | first}}</div>
		    <h2 class="entry-title"><a href="{{post.url}}">{{post.title}}</a></h2>
			<div class="description">{{post.content}}</div>
		</div>
	</article>
	{% endfor %}
</div>