<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="canonical" href="{{page.url}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1" />
	<title>{{page.title}} - Tapwave Zodiac</title>
	<meta name="description" content="{{site.description}}" />
	<link href="/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<header>
	<h1 class="site-title">
		<a href="/">
			<img alt="logo" src="/assets/tapwave-reborn.png" title="Tapwave Zodiac" height="28" width="220"/>
		</a>
	</h1>
	<nav class="top-nav">
		<ul>
			<li><a href="/categories">Categories</a></li>
			<li><a href="/guide">Install Guide</a></li>
			<li><a href="/archive">Archive</a></li>
		</ul>
	</nav>
</header>

<nav class="side-nav">
	<h3 class="meta">An archive of Tapwave Zodiac games & software</h3>
	<form action="/search" id="search" target="_top">
		<input type="search" name="q" placeholder="Search">
	</form>

	<h4>Categories</h4>
	<ul>
		{% for category in site.categories %}
		<li><a href="/{{category|first}}/">{{category|first}}</a></li>
		{% endfor %}
	</ul>
</nav>

<div class="body">
{{content}}
</div>

<footer>
	<b>Have a missing file?</b> Send file to jamesloper@gmail.com
<!--	<b>Want to donate?</b> Send bits to 12zAPs2zBcZEouZPmep8Jm9yyaLZpxuGiq-->
</footer>

{% include analytics.html %}
</body>
</html>