---
layout: default
title: "Tapwave Reborn"
---
<article class="hentry">
	<h3>Welcome to Tapwave Reborn</h3>
	This site was created to preserve the Tapwave Zodiac, and serves as an archive for the library of abandonware and open software available before the company's demise. Long live the Z!
</article>

<div class="gamegrid">
	<a class="game" href="/action/spy-hunter">
		<img src="/files/spy-hunter/img/Spy1.jpg" alt="Spy Hunter">
	</a>
	<a class="game" href="/gloopz">
		<img src="/files/gloopz/img/Gloopz1.jpg" alt="GloopZ">
	</a>
	<a class="game" href="/orbital-sniper">
		<img src="/files/orbital-sniper/img/orbital-sniper.jpg" alt="Orbital Sniper">
	</a>
	<a class="game" href="/another-world">
		<img src="/files/another-world/img/another-world.png" alt="Another World">
	</a>
	<a class="game" href="/tomb-raider">
		<img src="/files/tomb-raider/img/tomb-raider.jpg" alt="Tomb Raider">
	</a>
	<a class="game" href="/terminator-3">
		<img src="/files/terminator-3/img/terminator-3.jpg" alt="Terminator 3">
	</a>
	<a class="game" href="/galactic-realms">
		<img src="/files/galactic-realms/img/galactic-realms.jpg" alt="Galactic Realms">
	</a>
	<a class="game" href="/duke-nukem">
		<img src="/files/duke-nukem/img/duke-nukem-1.jpg" alt="Duke Nukem">
	</a>
	<a class="game" href="/edge">
		<img src="/files/edge/img/EDGE.jpg" alt="EDGE">
	</a>
	<a class="game" href="/mtx-mototrax">
		<img src="/files/mtx-mototrax/img/MTX-Mototrax.jpg" alt="MTX Mototrax">
	</a>
	<a class="game" href="/stuntcar-extreme">
		<img src="/files/stuntcar-extreme/img/stuntcar-extreme.jpg" alt="Stuntcar Extreme">
	</a>
	<a class="game" href="/frodoz">
		<img src="/files/frodoz/img/frodo.gif" alt="FrodoZ">
	</a>
	<a class="game" href="/ppsx">
		<img src="/files/ppsx/img/ppsx.jpg" alt="pPSX">
	</a>
	<a class="game" href="/palmmame">
		<img src="/files/palmmame/img/mame.png" alt="PalmMAME">
	</a>
	<a class="game" href="/ljz">
		<img src="/files/ljz/img/ljz.jpg" alt="LJZ">
	</a>

</div>
